# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
.env/

# Archivos de configuración y credenciales
.env
config.json

# Archivos temporales
*.log
*.tmp
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Streamlit generados
.streamlit/secrets.toml
.streamlit/config.toml

# Archivos de datos temporales
*.sqlite3
*.db

